.page {
	&__chefs {
		@include adaptivValue('padding-top', 152, 60, 1);
		@include adaptivValue('padding-bottom', 152, 60, 1);
	}
}
.chefs {
	&__container {
		position: relative;
	}
	&__title {}
	&__items {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(min(18.875rem, 100%), 1fr));
		@include adaptivValue('column-gap', 32, 16, 1);
		@include adaptivValue('row-gap', 64, 32, 1);
	}
	&__item {}
	&__decor {
		@media (max-width: $md4) {
			max-width: rem(110);
		}
		&._center-decor {
			right: percent(-213, 1300);
			top: percent(404, 1356);
			@media (max-width: em(1699.98)) {
				right: 2%;
			}
			@media (max-width: $md2) {
				top: 44%;
			}
			@media (max-width: $md4) {
				top: 29%;
			}
		}
		&._bottom-decor {
			left: percent(-214, 1300);
			bottom: rem(-146);
			@media (max-width: em(1699.98)) {
				left: 2%;
			}
			@media (max-width: $md4) {
				display: none;
			}
		}
	}
}
.item-chefs {
	opacity: 0;
	transform: translate(0, 30%);
	transition: all 1s ease;
	position: relative;
	z-index: 5;
	&__image-block {
		position: relative;
		border: rem(1) solid $mainColor;
		margin-bottom: rem(32);
		z-index: 2;
		cursor: pointer;
		@media (max-width: $md2) {
			margin-bottom: rem(26);
		}
		@media (max-width: $md3) {
			margin-bottom: rem(20);
		}
		@media (max-width: $md4) {
			margin-bottom: rem(12);
		}
		@media (any-hover: hover) {
			&:hover {
				.hover-item-chefs {
					opacity: 1;
				}
			}
		}
	}
	&__image {
      display: block;
		img {
			width: 100%;
			max-width: 100%;
			aspect-ratio: 411/520;
		}
	}
	&__hover {}
	&__title {
		font-family: $secondFont;
		font-weight: 600;
		@include adaptivValue('font-size', 45, 24, 1);
		line-height: 130%;
		letter-spacing: 0.04em;
		text-transform: capitalize;
		margin-bottom: rem(8);
		color: $whiteColor;
		cursor: pointer;
		transition: color 0.3s ease;
		a {
			color: inherit;
		}
		@media (max-width: $md4) {
			margin-bottom: rem(6);
		}
		@media (any-hover: hover) {
			&:hover {
				color: $mainColor;
			}
		}
	}
	&__position {
		line-height: 175%;
		letter-spacing: 0.04em;
		color: $whiteColor;
		margin-bottom: rem(8);
	}
	&__social {}
	&__social-list {
		display: flex;
		align-items: center;
		gap: rem(17);
		@media (min-width: $md3) {
			display: none;
		}
	}
	&__social-item {
		color: $whiteColor;
		transition: color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				color: $mainColor;
			}
		}
		a {
			color: inherit;
		}
	}
	&__social-link {}
}
.hover-item-chefs {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	gap: rem(18);
	padding-bottom: percent(48, 520);
	opacity: 0;
	transition: opacity 0.3s ease;
	z-index: 5;
	@media (max-width: $md3) {
		display: none;
	}
	&__background {
		content: "";
		display: inline-block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: #0c0c0c;
		opacity: 0.5;
		z-index: 3;
	}
	&__social-list {
		display: flex;
		align-items: center;
		gap: rem(17);
		position: relative;
		z-index: 4;
	}
	&__social-item {
		color: $whiteColor;
		transition: color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				color: $mainColor;
			}
		}
		a {
			color: inherit;
		}
	}
	&__social-link {}
	&__more {
		font-family: $secondFont;
		font-weight: 700;
		line-height: 175%;
		letter-spacing: 0.04em;
		color: inherit;
		position: relative;
		padding-left: rem(24);
		z-index: 4;
		transition: color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				color: #b8a358;
				&::before {
					background-color: #b8a358;
				}
			}
		}
		&::before {
			content: '';
			position: absolute;
			left: 0;
			top: 50%;
			transform: translate(0, -50%);
			width: rem(16);
			height: rem(1);
			background-color: $mainColor;
			transition: backgroun-color 0.3s ease;
		}
	}
}

.item-chefs._active {
	transform: translate(0, 0);
	opacity: 1;
}